* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin: 2vh;
}
table{
    text-align: center;
    
}

/*Daqui pra baixo é cachorrada*/

td{
    background-color: lightgreen;
    border-radius: 30%;
    padding: 1vh;
}

#row1, #row15, #row33, #row45{
    background-color: rgb(255, 158, 158);
}

#titleTable{
    border: 2px solid red;  
    background: none;
    border-radius: 0;
    padding: 1vh;
    font-size: 20px;
}
