* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 800;
    
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin: 2vh;
    background-color: #eeeeee;
    
}
table{
    text-align: center; 
}
.image{
    display: flex;
    justify-content: center;
}
#banner{
    max-width: 90%;
    max-height: 5%;
    padding: 2vh;
    border-radius: 20%;
}


/*Daqui pra baixo é cachorrada*/

td{
    background-color: lightgreen;
    border-radius: 30%;
    padding: 1vh;
}

#row1, #row15, #row33, #row45{
    background-color: rgb(255, 158, 158);
}

#titleTable{
    font-weight: 900; 
    background: none;
    border-radius: 0;
    padding: 2vh;
    margin: 1vh;
    font-size: 20px;
}

.numbers{
    padding: 2vh;
    padding-bottom: 0;
    margin: 2vh;
}

button{
    display: none;
    background: #da6213;
    padding: 2vh;
    margin: 2vh;
    font-size: 16px;
    min-width: 150px;
    min-height: 50px;
    min-width: max-content;
    transition: 0.2s;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    max-width: 70%;
}
footer{
    padding: 2vh;
}

.resultFinaly{
    display: none;
    flex-direction: column;
    height: 100vh;
}

.resultFinaly img{
    max-width: 90%;
    max-height: 100%;
    padding: 2vh;
}
.resultFinaly p{
    margin: 2vh;
}