* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 800;
    
}

.container {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    margin: 2vh;   
    background: #ebf1f3; 
    min-height: 100vh;
}

table{
    text-align: center; 
    background: #ffffff; 
    padding: 1.5vh;
}

.image{
    display: flex;
    justify-content: center;
}
#banner{
    max-width: 90%;
    max-height: 5%;
    padding: 2vh;
    border-radius: 20%;
}


td{
    border: solid black 0.25px;
    background: #e7eff1; 
    padding: 0;
}

#titleTable{
    font-weight: 900; 
    background: none;
    border: none;
    padding: 2vh;
    margin: 1vh;
    font-size: 20px;
}

.numbers{
    padding: 1vh;
    margin: 2vh;
}

.numbers-selected{
    margin: 3vh;
}

.buttons{
    display: inline;
    background: #3a555e;
    color: #ffffff;
    padding: 2vh;
    margin: 2vh;
    font-size: 16px;
    min-width: 150px;
    min-height: 50px;
    min-width: max-content;
    transition: 0.2s;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    max-width: 70%;
}

.form{
    display: none;
    font-size: 18px;
    justify-content: flex-start;
}

.cad-name, .cad-email, .cad-phone, .numbers-selecteds {
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    width: 100%;
    margin: 0;
}

input{
    margin: 0;
    padding: 1vh;
    min-height: 4vh;
    border-radius: 6px;
    border: solid 0.5px black;
    text-align: center;
}

.btnFinaly{
   display: none; 
}

.btnNextP{
    display: flex;
}
footer{
    padding: 2vh;
}


/*Daqui pra baixo é cachorrada*/


#row10, #row1000 {
    background: #3a555e;
}

.resultFinaly{
    display: none;
    flex-direction: column;
    height: 100vh;
}

.resultFinaly img{
    max-width: 90%;
    max-height: 100%;
    padding: 2vh;
}
.resultFinaly p{
    margin: 2vh;
}
